<html>
<head>
    <%= stylesheet_link_tag "kanban", :plugin => "kanban" %>
</head>
<body>
  <% @issues.each do |issue| %>
    <div class="issue">
      <center>#<%= issue.id%></center>
      <center>
        <h3><%= issue.subject %></h3>
      </center>
      
      <div class="assignee">
        <%= issue.try(:assigned_to).try(:name) || "unassigned"%>
      </div>
    </div>
  <% end %>
</body>
</html>
